<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>EchoNest Artists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="EchoNestArtistsApp" ng-controller="MainCtrl" ng-init="init()">
		<%= render "layouts/templates/topHeader" %>
		<%= render "layouts/templates/header" %>
		<%= yield %>
		<%= render "layouts/templates/footer" %>
</body>
</html>
